/Memento/Exercise/Java/.idea/.gitignore
/Memento/Exercise/Kotlin/.idea/.gitignore
/Memento/Exercise/Java/.idea/codeStyles/codeStyleConfig.xml
/Memento/Exercise/Kotlin/.idea/codeStyles/codeStyleConfig.xml
/Memento/Exercise/Java/src/Editor.java
/Memento/Exercise/Java/src/EditorState.java
/Memento/Exercise/Java/Exercise.iml
/Memento/Exercise/Java/src/History.java
/Memento/Exercise/Kotlin/Kotlin.iml
/Memento/Exercise/Kotlin/.idea/kotlinc.xml
/Memento/Exercise/Kotlin/.idea/libraries/KotlinJavaRuntime.xml
/Memento/Exercise/Java/src/Main.java
/Memento/Exercise/Java/.idea/misc.xml
/Memento/Exercise/Kotlin/.idea/misc.xml
/Memento/Exercise/Java/.idea/modules.xml
/Memento/Exercise/Kotlin/.idea/modules.xml
/Memento/Exercise/Java/.idea/codeStyles/Project.xml
/Memento/Exercise/Kotlin/.idea/codeStyles/Project.xml
/Memento/Exercise/Java/.idea/vcs.xml
/Memento/Exercise/Kotlin/.idea/vcs.xml
